* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
	list-style: none;
}

img {
    max-width: 100%;
}

figure img {
    display: block;
}

a {
	text-decoration: none;
	color: currentColor;
    display: inline-block;
}

:root {
	--blue: #141922;
    --dark-blue: #080b12fa;
    --green: #adff2f;
    --gray: #949494;
    --dark-gray: #282828ec;
	--dark: #000000;
	--light: #FFFFFF;
}

.spotify-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.spotify-app, .app-content, .app-player {
    overflow: hidden;
}

.app-content {
    flex-grow: 1;
    display: flex;
}

.app-main-content {
    flex-grow: 1;
    overflow: auto;
}

.app-sidebar {
    width: 50px;
}

/* PLAYER */

.app-player {
    background-color: var(--dark-gray);
    padding: 16px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-section, .track-control {
    flex-basis: 230px;
}

.player-control {
    width: 50%;
}

.song-section {
    display: flex;
    align-items: center;
    color: var(--gray);
    padding: 5px;
}

.album-cover img {
    width: 30px;
}

.song-playing {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.song-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-name * {
    font-size: 11px;
}

.song-name h5 {
    color: var(--light);
}

.song-reaction ul {
    display: flex;
    flex-wrap: wrap; 
}

.song-reaction ul li:first-child {
   margin-right: 10px;
}


.song-reaction i {
    font-size: 12px;
}

.song-name h6:hover {
    text-decoration: underline;
    color: var(--light);
}

.song-reaction a:hover {
    color: var(--light);
}

.player-control {
    color: var(--light);
}

.commands {
    margin-bottom: 10px;
}

.commands ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.commands li {
    font-size: 13px;
}

.play-commands i {
    font-size: 23px;
    padding: 0px 10px;
}

.play-commands:hover i {
    transform: scale(1.5);
}

.song-progress {
    display: flex;
    align-items: center;
    gap: 15px;
}

.time {
    font-size: 8px;
    font-weight: bold;
}

.bar-progress {
    flex-grow: 1;
    position: relative;
}

.progress progress[value] {
    display: -webkit-box;
    appearance: none;
    width: 100%;
    height: 3px;
}

.progress-handler {
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 999px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

::-webkit-progress-bar {
    background-color: grey;
  }
  
::-webkit-progress-value {
    background-color: white;
  }

  .bar-progress:hover .progress-handler {
	display: block;
}

  .bar-progress:hover ::-webkit-progress-value {
    background-color: var(--green);
  }

  .bar-progress:hover ::-webkit-progress-value {
    background-color: var(--green);
  }

  .bar-progress:hover {
    cursor: pointer;
  }

.track-control ul {
    display: flex;
    align-items: center;
    gap: 13px;
    color: var(--light);
    padding: 0px 10px;
}

.track-control i {
    font-size: 12px;
}

/* SIDEBAR */

.app-sidebar {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logo-lg img {
    width: 140px;
    display: none;
}

.app-logo {
    padding: 6px 0px;
}

.logo-sm img {
    max-width: 27px;
    margin: 0 auto;
}

.app-menù {
    color: var(--gray);
    flex-grow: 1;
}

.menù-list img {
    max-width: 25px;
}

.menù-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.menù-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.menù-list span {
    font-size: 13px;
    font-weight: 700;
    display: none;
}

.playlist {
    color: var(--gray);
    display: none;
}

.playlist .title {
    text-transform: uppercase;
    color: var(--light);
    font-size: 14px;
    margin-bottom: 7px;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-playlist i {
    font-size: 37px;
}

.new-playlist span {
    font-size: 15px;
    font-weight: 700;
}

.new-playlist a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.playlist li {
    font-size: 13px;
    font-weight: 700;
}

.download img {
    max-width: 17px;
}

.profile img {
    max-width: 23px;
    background-color: var(--gray);
    border-radius: 50%;
    aspect-ratio: 1;
}

.download, .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
}

.download span {
    color: var(--gray);
    font-size: 12px;
    font-weight: 700;
    display: none;
}

.profile span {
    color: var(--light);
    font-size: 14px;
    font-weight: 700;
    display: none;
}

.menù-list span:hover {
    color: var(--light);
}

.playlist a:hover {
    color: var(--light);
}

.user span:hover {
    color: var(--light);
    cursor: pointer;
}

/* MAIN-CONTENT */

.upgrade-strip {
    background-color: var(--dark-blue);
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}

.button-upgrade {
    color: var(--light);
    background-color: var(--dark);
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 31px;
    border-radius: 30px;
    border: 1px solid var(--light);
    padding: 0 28px;
}

.button-upgrade:hover {
    transform: scale(1.1);
}

.main-view {
    background-color: var(--blue);
}

.main-menù {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.menù-item {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    padding: 5px;
    position: relative;
}

.menù-item.active::before {
	content: '';
	position: absolute;
	display: block;
	height: 2px;
	width: 32%;
	background-color: var(--green);
	bottom: 0;
    left: 26px;
}

.menù-item:hover {
    color: var(--light);
}

.col-12 {
    width: calc((100% / 12) * 12);
}

.music-collection {
    padding-left: 15px;
}

.music-collection .row {
    display: flex;
    flex-direction: column;
}

.categories .title {
    color: var(--light);
    font-size: 20px;
}

.categories .paragraph {
    color: var(--gray);
    font-weight: 600;
    font-size: 11px;
    margin-top: 8px;
}

.categories {
    padding: 28px 5px;
}

.set-album {
    display: flex;
    flex-wrap: wrap;
}

.album-tab {
    flex-basis: 230px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.album-tab .cover {
    margin-bottom: 10px;
}

.author-details {
    text-align: center;
}

.album-tab .author-details h4 {
    color: var(--light);
    font-size: 13px;
    margin-bottom: 5px;
}

.album-tab .author-details p {
    color: var(--gray);
    font-size: 11px;
    font-weight: 600;
}

.cover {
    position: relative;
}

.layover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.362);
    opacity: 0;
}

.icon-hidden {
    color: var(--light);
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.album-tab:hover {
    cursor: pointer;
}

.album-tab:hover .layover {
    opacity: 1;
}

.album-tab:hover .icon-hidden {
    display: block;
}




















/* DEBUG */

/* .debug .spotify-app {
    border: 2px solid black;
} */

/* .debug .app-content {
    border: 4px solid purple;
    min-height: 100px;
}  */

/* .debug .app-player {
    border: 3px solid green;
    min-height: 100px;
}  */

/* .debug .app-sidebar {
    border: 3px solid orange;
}  */

/* .debug main {
    border: 3px solid blue;
    min-width: 100px;
}  */

/* .debug .app-player .col {
    border: 1px solid yellowgreen;
    min-width: 100px;
    min-height: 50px;
}

.debug .app-player .row {
    border: 1px solid black;
} */


















/* MEDIA QUERY */

@media (min-width: 576px) {
   
}

@media (min-width: 768px) {
    .app-sidebar {
        width: 230px;
    }

    .album-cover img {
        width: 45px;
    }

    .menù-list span {
        display: inline;
    }

    .download span {
        display: inline;
    }

    .profile span {
        display: inline;
    }

    .download {
        border-bottom: 1px solid var(--light);
    }

    .playlist {
        flex-grow: 1;
        display: block;
    }

    .app-menù {
        flex-grow: 0;
    }

    .app-logo {
        padding: 17px 15px 0px 15px;
    }

    .logo-lg img {
        display: block;
    }
    
    .logo-sm img {
        display: none;
    }

    .menù-list li:first-child {
        border-left: 4px solid var(--green);
        padding: 0px 11px;
    }

    .menù-list li {
        padding: 0px 15px;
    }

    .playlist, .user {
        padding: 0px 15px;
    }

    .app-sidebar {
        gap: 20px;
    }

    .menù-list a {
        justify-content: flex-start;
    }

    .download, .profile {
        justify-content: flex-start;
    }

}

@media (min-width: 992px) {

}